.bg-light {
    background-color:  #651200 !important;
}

.padding-menu {
    padding-top: 60px; padding-bottom: 15px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.sye-color{
	background-color:  #651200 !important;	
}

.sye-color-dark{
  background-color:  #651200  !important; 
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.btn-sye {
    color: #000000;
    background-color: #a40000;
    border-color: #a40000;
}

.btn-sye:hover, .btn-sye:focus, .btn-sye:active, .btn-sye.active, .open>.dropdown-toggle.btn-sye {
    color: #000000;
    background-color: #490d00;
    border-color:  #bb2100; /*set the color you want here*/
}
/*.dropdown:hover>.dropdown-menu {
  display: block;
}*/

.top{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background-color: #bb2100;
  border-color: #bb2100;
  padding: 20px;
  z-index: 999;
}

.clear-values{
  display: none;
}

.mainColor{
  background-color: : #bb2100
  color: white
}
/*=========================================================================================================*/
/*#carrusel{
  float:left; 
  width:588px; 
  overflow:hidden; 
  height:100px; 
  position:relative; 
  margin-top:20px;
}

#carrusel .izquierda_flecha
{
  position:absolute; 
  left:10px; 
  z-index:1; 
  top:50%; 
  margin-top:-9px;
}

#carrusel .derecha_flecha
{
  position:absolute; 
  right:10px; 
  z-index:1; 
  top:50%; 
  margin-top:-9px;
}

.carrusel
{
  width:4000px;
  left:0px; 
  position:absolute; 
  z-index:0
}

.carrusel>div{
    float: left;
    height: 100px;
    margin-right: 5px;
    width: 195px;
    text-align:center;
}

.carrusel .img_carrusel{
  cursor:pointer;
}

#content 
{
    float:left;
    width:600px;
    margin-bottom:40px;
    margin:0px auto;
}*/